In [1]:
import pandas as pd

In [2]:
#Table 2
t2 = pd.read_csv('./table_s2.csv')

In [6]:
t2 = t2.drop(['Accession', 'Description'], axis=1)
t2

,Gene Symbol,Sum_Coverage,Sum_Num Proteins,Sum_Num Unique Peptides,Sum_Num Peptides,Sum_Num PSMs,Score A2,Coverage A2,Num Peptides A2,Num PSM A2,Score A4,Coverage A4,Num Peptides A4,Num PSM A4,Num AAs,MW kDa,calc pI
0,TUBB2B,77.08,3,2,40,2053,26514.08,77.08,38.0,1031.0,2581.19,77.08,38.0,1022.0,445,49.9,4.89
1,TUBB2A,77.08,3,2,40,2052,26401.68,77.08,38.0,1030.0,2578.55,77.08,38.0,1022.0,445,49.9,4.89
2,TUBB,77.25,11,6,39,1892,24026.85,77.25,38.0,959.0,2402.05,77.25,37.0,933.0,444,49.6,4.89
3,TUBB4B,71.01,9,2,38,1828,23309.88,71.01,37.0,929.0,2329.09,71.01,36.0,899.0,445,49.8,4.89
4,TUBB3,74.44,12,15,32,1403,19059.39,74.44,32.0,713.0,1742.31,74.44,31.0,690.0,450,50.4,4.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,NOC2L,1.74,1,1,1,1,NaN,NaN,NaN,NaN,0.00,1.74,1.0,1.0,749,84.9,5.62
1473,KIF3A,1.57,5,1,1,1,NaN,NaN,NaN,NaN,0.00,1.57,1.0,1.0,699,80.0,6.54
1474,PCDHB9,1.88,2,1,1,1,NaN,NaN,NaN,NaN,0.00,1.88,1.0,1.0,797,87.0,5.02
1475,NPTN,6.47,8,1,1,1,NaN,NaN,NaN,NaN,0.00,6.47,1.0,1.0,278,30.8,7.84
1476,WASF2,2.61,1,1,1,1,NaN,NaN,NaN,NaN,0.00,2.61,1.0,1.0,498,54.3,5.53

In [18]:
t2 = t2.sort_values('Gene Symbol')

In [19]:
t2

,Gene Symbol,Sum_Coverage,Sum_Num Proteins,Sum_Num Unique Peptides,Sum_Num Peptides,Sum_Num PSMs,Score A2,Coverage A2,Num Peptides A2,Num PSM A2,Score A4,Coverage A4,Num Peptides A4,Num PSM A4,Num AAs,MW kDa,calc pI
604,AAK1,11.13,3,6,6,10,92.75,9.89,5.0,5.0,5.18,8.12,5.0,5.0,961,103.8,6.60
1322,ABCC12,10.38,7,1,1,1,NaN,NaN,NaN,NaN,0.00,10.38,1.0,1.0,106,12.0,8.82
1356,ABCF1,3.02,3,1,1,1,NaN,NaN,NaN,NaN,0.00,3.02,1.0,1.0,596,67.6,8.19
685,ABI1,10.31,16,2,4,8,44.63,10.31,4.0,4.0,3.93,10.31,4.0,4.0,388,42.6,6.04
447,ABI2,18.74,17,5,7,17,70.92,18.74,7.0,8.0,11.51,18.74,7.0,9.0,475,52.4,6.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,NaN,13.98,1,1,8,440,4569.62,13.98,8.0,217.0,497.56,13.98,8.0,223.0,372,41.7,4.87
1018,NaN,10.43,4,1,1,3,21.73,10.43,1.0,2.0,0.00,10.43,1.0,1.0,163,17.6,7.43
1020,NaN,4.28,2,2,2,3,27.42,1.86,1.0,1.0,0.00,4.28,2.0,2.0,538,61.2,7.31
1081,NaN,3.06,1,1,1,2,0.00,3.06,1.0,1.0,0.00,3.06,1.0,1.0,196,21.1,11.12
1328,NaN,7.38,2,1,1,1,NaN,NaN,NaN,NaN,0.00,7.38,1.0,1.0,149,16.1,8.32

In [20]:
t2.to_csv('./table_s2.csv', index=False)

In [21]:
#Table 3
t3 = pd.read_csv('./table_s3.csv')
#t3 = t3.drop(['Accession', 'Description'], axis=1)
t3 = t3.sort_values('Gene Symbol')
t3.to_csv('./table_s3.csv', index=False)

In [22]:
t4 = pd.read_csv('./table_s4.csv')
#t4 = t4.drop(['Protein Name'], axis=1)
t4 = t4.sort_values('Gene Symbol')
t4.to_csv('./table_s4.csv', index=False)

In [23]:
t5 = pd.read_csv('./table_s5.csv')
#t5 = t5.drop(['Protein_name'], axis=1)
t5 = t5.sort_values('Gene Symbol')
t5.to_csv('./table_s5.csv', index=False)